<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanjing.mapper.StudentMapper">

    <select id="selectStudent" resultType="Student">
        select * from student;
    </select>

    <insert id="addStudent" parameterType="com.yanjing.pojo.Student">
        insert into student (id, firstname, lastname, email) values (#{id}, #{firstname}, #{lastname}, #{email});
    </insert>

    <delete id="deleteStudent" parameterType="int">
        delete hahahahahahah from student where id = #{id};
    </delete>
</mapper>