<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--重点namesapce-->
<mapper namespace="com.yanjing.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from user
    </select>

    <select id="queryUserById" resultType="User" parameterType="int">
        select * from user where id = #{id}
    </select>
    
    <select id="addUser" parameterType="User">
        insert into user values (#{id}, #{name}, #{pwd})
    </select>

    <select id="update" parameterType="User">
        update user set name = #{name}, pwd=#{pwd} where id = #{id}
    </select>

    <select id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </select>


<!--    manyToOne配置-->
<!--    https://mp.weixin.qq.com/s?__biz=Mzg2NTAzMTExNg==&mid=2247483788&idx=1&sn=aabf8cf31d7d45be184cc59cdb75258c&scene=19#wechat_redirect-->
<!--    <resultMap id="EmployeeMap" type="Employee">-->
<!--        <id property="id" column="eid"/>-->
<!--        <result property="lastName" column="last_name"/>-->
<!--        <result property="email" column="email"/>-->
<!--        <result property="gender" column="gender"/>-->
<!--        <result property="birth" column="birth"/>-->
<!--        <association property="eDepartment"  javaType="Department">-->
<!--            <id property="id" column="did"/>-->
<!--            <result property="departmentName" column="dname"/>-->
<!--        </association>-->
<!--    </resultMap>-->
</mapper>