<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">


    <!--https://blog.csdn.net/fox_bert/article/details/80793030-->
    <context:component-scan base-package="com.yanjing" />
    <!--用了scan就可以不用annotation-config-->
    <!--<context:annotation-config/>-->

    <bean id="person" class="com.yanjing.pojo.Person"></bean>
    <bean id="cat1" class="com.yanjing.pojo.Cat"></bean>
    <bean id="cat2" class="com.yanjing.pojo.Cat"></bean>
    <bean id="dog1" class="com.yanjing.pojo.Dog"></bean>
    <bean id="dog2" class="com.yanjing.pojo.Dog"></bean>
</beans>