<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.yanjing.pojo"/>
    </typeAliases>

    <!--这是mybatis原生的数据源配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/student?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="mysql7794818"/>
            </dataSource>
        </environment>
    </environments>

    <!--注册-->
    <mappers>
        <mapper class="com.yanjing.mapper.StudentMapper"></mapper>
<!--        <package name="com.yanjing.mapper"/>-->
    </mappers>
</configuration>